# Default ignored files
/../../spring-security./.idea/shelf/
/../../spring-security./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../spring-security./.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../spring-security./.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../spring-security./.idea/dataSources/
/../../spring-security./.idea/dataSources.local.xml
